on:
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - uses: azure/setup-helm@v4.3.0
      - run: go build
      - run: |
          echo "version: 0.0.0" >> ./deploy/transip-webhook/Chart.yaml
          helm lint ./deploy/transip-webhook
